input[type=text], select {
    width: 400px;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

ol {
	width: 400px;
    background: #ff9999;
    padding: 20px;
}

ol li {
    background: #ffe5e5;
    padding: 5px;
    margin-left: 35px;
}
